.projects {
    position: absolute;
    left: 15%;
    top: 25%;
    color: white
}

.project-cards {
    display: flex;
    flex-direction: row;


    .project-card {
        margin-left: 30px;
        height: 500px;
        width: 35%;
        box-shadow: 0 4px 8px 0 #181818;
        border-radius: 20px;
        transition: 0.3s;
    
        h1 {
            text-align: center;
        }

        p {
            text-align: justify;
            padding: 20px;
            font-size: 13px;
        }

        .technologies {
            display: flex;
            margin-left: 40px;
            margin-top: -20px;

            .tech-icon {
                font-size: 15px;
                margin-top: 15px;
                margin-left: 20px;
            }
        }

        .proj-links {
            display: flex;
            justify-content: space-around;

            a {
                width: 35%;
                padding: 7px;
                background-color: #023551;
                color: #fff;
                border-radius: 5px;

                button {
                    width: 100%;
                    background-color: #023551;
                    color: #fff;
                    border-style: none;
                    cursor: pointer;

                }
            }

            a:hover {
                box-shadow: 0 1px 2px 0 #ffd700;
            }

        }

    }

    .project-card:hover {
        box-shadow: 0 8px 16px 0 #ffd700;
      }

    .left-arrow {
        margin-top: 17.5%;
        margin-right: 20px;
        font-size: 50px;
    }

    .left-arrow-inactive {
        margin-top: 17.5%;
        margin-right: 20px;
        font-size: 50px;
        color: gray;
    }

    .right-arrow {
        margin-top: 17.5%;
        margin-left: 50px;
        vertical-align: middle;
        font-size: 50px;
    }

    .right-arrow-inactive {
        margin-top: 17.5%;
        margin-left: 50px;
        vertical-align: middle;
        font-size: 50px;
        color: gray;
    }
}

.proj-img {
    width: 100%;
    height: 45%;
    border-radius: 20px 20px 0 0;
}